:root {
	--color-primary: #736038;
	--color-primary--dark: #020101;
	--color-secondary: #A2D3C7;
	--color-accent: #EF8E7D;
	--color-light: #F1E1C8;
	--color-dark: #222222;
}

$color-primary: #736038;
$color-primary__dark: #020101;
$color-secondary: #ACD0A0;
$color-accent: #D24566;
$color-light: #F1E1C8;
$color-dark: #222222;