@font-face {
    font-family: 'Peace Sans';
    src: url('../fonts/peacesans.woff2') format('woff2'),
         url('../fonts/peacesans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$peace-sans: 'Peace Sans', sans-serif;
$oswald: Oswald, sans-serif;