.timer-countdown {
	background-color: $color-light;
	display: flex;
	justify-content: center;
	padding: 3rem 2rem;

	&__text {
		font-family: $peace-sans;
		font-size: 6rem;
		color: $color-dark;
	}
}