.timer-countdown {
	background-color: rgba($color-light, .2);
	flex-shrink: 0;
	transition: height $easing--default;
	height: 0;
	overflow: hidden;

	&__content {
		padding: 3rem 2rem;
		display: flex;
		justify-content: center;
		height: 100%;
	}

	&__text {
		font-family: $peace-sans;
		font-size: 6rem;
		color: $color-dark;
		display: flex;
	}

	&__character-wrap {
		display: flex;
	}

	&__character {
		text-align: right;

		& + & {
			width: 73px;
			text-align: left;
		}
	}
}