.timer-countdown {
	background-color: rgba($color-light, .2);
	flex-shrink: 0;
	transition: height $easing--default;
	height: 0;
	overflow: hidden;

	&--narrow {
		.timer-countdown {
			&__text {
				transform: translate3d(-35%, 0, 0) scale3d(.33, .33, 1);
			}
		}
	}

	&__content {
		padding: 1rem .5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	&__controls {
		position: absolute;
		top: 0;
		right: .5rem;
	}

	&__button {
		position: relative;
		border-radius: 0;
		border: 0;
		background-color: rgba(white, 0);
		width: 2rem;
		height: 3rem;
		padding: 0;
		outline: none;

		.icon {
			position: absolute;
			right: .5rem;
			top: 1rem;
			fill: $color-dark;
			width: 1.5rem;
			height: 1.5rem;
		}

		.icon-arrow {
			transition: opacity $easing--default;

			&.playing {
				opacity: 0;
			}
		}

		.icon-pause {
			transition: opacity $easing--default;
			opacity: 0;

			&.playing {
				opacity: 1;
			}
		}
	}

	&__text {
		width: 100%;
		font-family: $gilroy;
		font-size: 6rem;
		color: $color-dark;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: transform $easing--default;
	}

	&__character-wrap {
		display: flex;
		flex-grow: 1;
		flex-shrink: 0;
		width: calc(50% - 11px);

		&--left {
			font-weight: 800;
			justify-content: flex-end;
		}

		&--right {
			font-weight: 300;
			justify-content: flex-start;
		}
	}

	&__center {
		width: 22px;
		flex-shrink: 0;
		text-align: center;
		font-size: .9em;
	}

	&__character {
		text-align: right;

		& + & {
			width: 61px;
			text-align: left;
		}
	}
}