.timer-input {
	&__toggle {
		width: 100%;
	}

	&__checkbox {
		display: none;

		&:checked {
			~ .timer-input__label-wrap {
				.timer-input__toggler::before {
					transform: translate3d(calc(-100% + 6px), 0, 0);
				}
			}
		}
	}

	&__toggler {
		position: relative;
		width: 2rem;
		height: 1.25rem;
		background-color: rgba(black, .3);
		border-radius: .75rem;
		margin: 0 .5rem;

		&::before {
			content: '';
			position: absolute;
			top: 1px;
			right: 1px;
			width: 1.125rem;
			height: 1.125rem;
			border-radius: 50%;
			background-image: radial-gradient(circle at 25%, rgba(255,255,255,.9) 0%,rgba(237,237,237,.9) 100%);
			transform: translate3d(0, 0, 0);
			transition: transform $easing--default;
		}
	}

	&__label-wrap {
		display: flex;
		flex-direction: column;
		text-transform: uppercase;
	}

	&__label {
		width: 100%;
		font-size: 1.125rem;
		margin-bottom: 1rem;
	}

	&__toggler-wrap {
		display: flex;
		align-items: center;
		margin-left: 1rem;
		font-size: 1rem;
	}
}