@import 'title';
@import 'countdown';
@import 'opts';

.timer {
	width: calc(100vh - 2rem);
	max-width: 475px;
	height: calc(100vh - 2rem);
	max-height: 775px;
	display: flex;
	flex-direction: column;
}