@import 'title';
@import 'countdown';
@import 'opts';

.timer {
	position: relative;
	width: calc(100vh - 2rem);
	max-width: 475px;
	height: calc(100vh - 2rem);
	max-height: 775px;
	display: flex;
	flex-direction: column;

	&__body {
		position: relative;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		z-index: 0;
		background-color: $color-light;
		background-image: linear-gradient(to right bottom, #A2D3C7, #EF8E7D);
	}
}