.timer-title {
	width: 100%;
	flex-shrink: 0;
	margin-bottom: -15px;

	&__heading {
		font-family: $peace-sans;
		font-size: 4rem;
		text-transform: uppercase;
		font-weight: 400;
		letter-spacing: -3px;
		color: $color-light;
		text-align: right;
		padding: 0 5px 0 0;
		line-height: 1;
		background: linear-gradient(to right, #b2d6c7, #d0baaa);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&__small {
		font-size: 1rem;
		letter-spacing: 0;
	}
}