.timer-title {
	width: 100%;
	flex-shrink: 0;
	margin-bottom: -10px;

	&__heading {
		font-family: $gilroy;
		font-weight: 800;
		font-size: 4rem;
		text-transform: uppercase;
		letter-spacing: -3px;
		color: var(--color-light);
		text-align: right;
		padding: 0 5px 0 0;
		line-height: 1;
		background: linear-gradient(to right, var(--color-secondary), var(--color-accent));
		-webkit-background-clip: text;
		-webkit-text-fill-color: rgba(black, .25);
	}

	&__small {
		font-size: 1rem;
		letter-spacing: 0;
	}
}